@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-main text-text-dark font-sans antialiased;
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #E8630A;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c75508;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #E8630A transparent;
  }
}
